body {
	margin: 0; 
}

.container {
	width: 50%;
	position: relative;
	left: 25%;
}

.container .header {
	text-align: center;
	font-size: 50px;
	font-weight: bold;
}

.container .sidetext {	
	position: absolute;
	text-align: right;
	width: 20%;
	left: -21%;
	top: 0;
}

.container .sidetext .sidetextIn {
	
}


.container .maintext {		
	position: absolute;
	width: 80%;
	right: 0;
}