html, body {    		
	margin: 0; 	
	min-height: 100%;	
	position: relative;	
}

div {
	display: block;
}

.header {
	height: 100px;
	width: 100%;
	background-color: red;
}

.container {
	height: 100%;
	min-height: calc(100% - 100px - 60px);
}

.container div{
	float: left;
	min-height: 100%;
}

.container .menu {
	width: 150px;
	background-color: yellow;
}	

.container .main {
	width: calc(100% - 150px);
	background-color: green;
}

.container .clear {
	clear: left;
}

.footer {
	height: 60px;
	width: 100%;
	background-color: pink;
}



.menu ul {
	list-style-type: none;
	margin: 0;
}

.menu li {
	height: 25px;	
}