html, body {    		
    		margin: 0; 			
}

div {
	display: block;
}

.container {
	min-height: 100%;
}

.Header {
	position: relative;
	top: 0px;
	right: 0px;
	height: 100px;
	background-color: red;
	z-index: 10;
}

.Footer {
	height: 60px;
	width: 100%;
	position: relative;
	bottom: 0px;
	background-color: pink;
}

.MainView {
	position: relative;
	left: 0px;
	right: 0px;	
	min-height: 100%;	
	background-color: green;
}

.TextInside {
	padding-left: 150px;
}

.Menu {
	position: relative;	
	left: 0px;
	bottom: 0px;
	width: 150px;	
	background-color: yellow;
}	

.Menu ul {
	list-style-type: none;
	margin: 0px;
}

.Menu li {
	height: 25px;	
}